/*imports google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.App {
  text-align: center;
  background: #F8F8FB;
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  height: 6rem;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  background: #383B51;
  position: relative;
  display:flex;
}

.title{
  color: white;
}

.logo {
  background: url("gender_gap_logo.png");
  height: 3.3rem;
  width: 2.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  display:flex;
}


